*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

@font-face{
    font-family:orbitron;
    src: url(../fonts/Orbitron-Medium.ttf);
}

@font-face{
    font-family:monsterat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

html{
    font-family:orbitron;
    overflow-x:hidden;
}

header{
    height:100vh;
    width:100vw;
    padding-top:1px;
}
 
h1,h2,h3{font-weight:300px;
    text-transform:uppercase;
    letter-spacing:1px;
}

h2{font-size:180%;
    letter-spacing:1px;
    text-align:center;
    margin-bottom:30px;
    margin-top:30px;
}

h2:after{
    display:block;
    height:2px;
    background-color:#e82127;
    content:" ";
    width:100px;
    margin:0 auto;
    margin-top:30px;
}

.background{
    background:url(../images/IMG_20210804_220958_699.jpg);
    height:90vh;
    width:85vw;
    background-position: bottom;
    background-repeat:no-repeat;
    background-size:cover;
    margin:0 auto;
    margin-top:45px;
    padding-top:1px;
}

.name{
    height:35px;
    border:2px solid #e82127;
    border-top-left-radius:20px;
    border-bottom-right-radius:20px;
    padding:5px 15px;
    margin-top:5px;
    margin-left:100px;
    width:auto;
    cursor: not-allowed;
    float:left;
}

.main-nav{
    float:left;
    margin-left:547px;
    margin-top:-35px;

}

.main-nav li{
    display:inline-block;
    margin-left:40px;
    list-style:none;
    border:2px solid #e82127;
    border-top-left-radius:20px;
    border-bottom-right-radius:20px;
    padding:5px 15px;
    background-color:transparent;
}

.main-nav li a{
    text-decoration:none;
    color:#e82127;
    
}

.main-nav li:hover{
    background-color:#e82127;
    transition:0.5s;
}

.main-nav li a:hover{
    color:#fff;
}

.hero-text-box{
    height:200px;
    width:700px;
    margin:0 auto;
    color:#fff;
    text-align:center;
    margin-top:250px;

}

.hero-text-box h1{
    font-size:60px;
}

.line{

    border:1px solid #fff;
    margin-bottom:30px;

}

.section-about{
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/210674788_346203343793540_8548980797726844011_n.jpg);
    height:100vh;
    width:85vw;
    margin-left: 102px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    padding-top:1px;

}

.about{
    border:5px solid #fff;
    height:450px;
    width:450px;
    margin-top:130px;
    margin-left:50px;
    padding:30px 30px;
    border-top-left-radius:20px;
    border-bottom-right-radius:20px;
    float:left


}

.about h1{
    color:#fff;
    font-size:70px;

}

.about-text-div{
    width:450px;
    margin-left:600px;
    margin-top:130px;
    color:#fff;
    text-align:center;

}

.about-text{
    line-height:35px;

}

.meaning{
    color:#e82127;
    font-size:20px;
    cursor:pointer;
    transition:0.5s;
}

.meaning:hover{
    color: rgb(255, 251, 0);
}

.about-links{
    width:45%;
    height:1auto;
    margin-left:600px;
    margin-top:80px;
    padding:5px 15px;
    color:#e82127;


}

.read-more{
    text-decoration:none;
    color:#e82127;
    border:1px solid #e82127;
    padding:10px 15px;
    border-top-left-radius:20px;
    border-bottom-right-radius:20px;
    
 
}

.icons{
    font-size:30px;
    color:#e82127;
    margin-left:15px;
    border-top-left-radius:20px;
    border-bottom-right-radius:20px;
    padding:5px 15px;
    border:1px solid #e82127;
}

.read-more:hover{
    color:#fff;
    background-color:#e82127;
    transition:0.5s;

}

.icons:hover{
    color:#fff;
    transition:0.5s;

}

.facebook:hover{
    color:#3b5998;
    border:1px solid #3b5998;
}

.instagram:hover{
    color:#b17fa4;
    border:1px solid #b17fa4;
}

.linkedin:hover{
    color:#00aced;
    border: 1px solid #00aced;
}

.twitter:hover{
    color:#00aced;
    border:1px solid #00aced;
}

.section-contact{
   background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/about\ me.jpg);
    height:100vh;
    width:85vw;
    margin-left: 102px;
    background-size:cover;
    background-position:bottom;
    padding-top:1px;

}

.contact-span{
    color:#e82127;
    text-transform:uppercase;
    font-size:25px;
    position:relative;
    top:30px;
    left:50px;

}

.contact-span span{
    border: 3px solid #e82127;
    background-color:rgba(0,0,0,0.7);
    padding:5px 10px;
    border-top-left-radius:20px;
    border-bottom-right-radius:20px;

}

.contact-background{
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    height:80vh;    
    width:80vw;
    margin:0 auto;
    margin-top:60px;
    padding-top:1px;
    border-top-left-radius:30px;
    border-bottom-right-radius:30px;
    padding-top:1px;
    color:#fff;

}

.program{
    position:relative;
    top:100px;
    left:70px;

}

.contact-line{
    border:1px solid #e82127;
    width:45%;
    position:relative;
    top:130px;
    left:70px;

}

.infos{
    height:350px;
    width:400px;
    position:relative;
    top:150px;
    left:70px;
    color:#e82127;
    float:left;

}

.titles{
    height:290px;
    position:relative;
    top:15px;
    width:100px;
    float:left;
    line-height:50px;


}

.contents{
    position:relative;
    height:290px;
    left:70px;
    line-height:50px;
    top:15px;


}

.contact-image{
    border:1px solid #fff;
    height:370px;
    width:340px;
    float:right;
    position:relative;
    right:50px;
    top:85px;

}

.contact-image img{
    height:100%;
    width:100%;
}

.row{
    max-width:1140px;
    margin:0 auto;
    padding:5px 0;
}

.contact-form{
    width:60%;
    margin:0 auto;
    color:#e82127;


}

input[type=Email],input[type=text],input[type=number],select,textarea{
    width:100%;
    padding:7px;
    border-radius:3px;
    border:1px solid #e82127;
    border-top-left-radius:20px;
    border-bottom-right-radius: 20px;
    padding:5px 15px;
    margin-bottom:20px;


}

textarea{
    height:100px;
}

input[type=checkbox]{
    margin:10px 5px 10px 0;
    margin-bottom:20px;

}
*:focus {
    outline:none;
}

.form-button{
    border:1px solid #e82127;
    color:#e82127;
    text-decoration:none;
    padding:5px 15px;
    border-top-left-radius:20px;
    border-bottom-right-radius:20px;


}

.form-button:hover{
    background-color:#e82127;
    color:#fff;
    transition:0.5s;

}

footer{
background-color:#333;
padding:50px;
font-size:80%;
}

.footer-nav{
    list-style:none;
    float:left;
}

.footer-nav li,.social-links li{
    display:inline-block;
    margin-right:20px;
}

.footer-nav a{
    text-decoration:none;
    color:#888;
    padding:8px 0;
    font-size:80%;
    border-bottom:2px solid transparent;
    transform:scale(1.15);
    transition:border-bottom 0.5s;
}

.footer-nav li a:hover,a:active{
    color:#ddd
}

.social-links{
    list-style:none;
    float:right;
    margin-right:30px;
}

.social-links i{
    font-size:80%;
    color:#ddd;
}


.ion-social-facebook:hover{
    
    color:#3b5998;
}

.ion-social-twitter:hover{
    color:#00aced;
}



.ion-social-googleplus:hover{
    color:#dd4b39;
    
}

.ion-social-instagram:hover{
    color:#b17fa4;
}

footer p{
    text-align:center;
    color:#888;
    margin-top:20px;
}
